body {
    font-family: 'Indie Flower', cursive;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin: 0;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, calc(100px + 7vw));
    gap: 10px;
}

.square {
    width: calc(100px + 7vw);
    height: calc(100px + 7vw);
    background-color: rgb(123, 207, 123);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(100px + 6vw);
}