body {
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    flex: 1;
}

html, body {
    height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: calc(50px + 3vw);
    margin: 0;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, calc(100px + 5vw));
    gap: 10px;
}

.square {
    width: calc(100px + 5vw);
    height: calc(100px + 5vw);
    background-color: rgb(123, 207, 123);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(100px + 4vw);
    border: none;
}

button, input {
    font-family: 'Indie Flower', cursive;
    transition: all 0.3s ease-in-out;
}

button:hover, input:hover {
    transform: scale(1.05);
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 100%;
}

.reset, input {
    width: calc(50px + 6vw);
    height: calc(50px + 3vw);
    border: 2px solid black;
    border-radius: 12px;
    background: white;
    font-size: calc(15px + 1vw);
}

input {
    padding-left: 1vw;
}